.overview-main{
    display: flex;
    justify-content: center;
    background-color: #020202d1;
    height: 600px;
    border-radius: 4px;
}


.overview-main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.overview-ban-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-overview{
    height: 430px;
    background-color: #0000006b;
    border-radius: 4px;
    padding: 20px;
}