
/* ECRAN 4K SA MERE (2560px) */
@media all and (min-width: 1921px) and (max-width: 2560px){
    .middleMenu-main{
        background-color: rgb(35 34 32 / 70%);
        width: 49%;
        height: 600px;
        border-radius: 4px;
        display: flex;
        justify-content: inherit;
        overflow-y: auto;
    }

    .middleMenu-leaderboard{
        width: 80%;
    }
}


/* ECRAN GRANDE TAILLE (1920px) */
@media all and (min-width: 1441px) and (max-width: 1920px){
    .middleMenu-main{
        background-color: rgb(35 34 32 / 70%);
        width: 49%;
        height: 600px;
        border-radius: 4px;
        display: flex;
        justify-content: inherit;
        overflow-y: auto;
    }

    .middleMenu-leaderboard{
        width: 80%;
    }
}

/* ECRAN MOYENNE TAILLE (1440px) */
@media all and (min-width: 1024px) and (max-width: 1440px){
    .middleMenu-main{
        background-color: blue;
        width: 49%;
        height: 600px;
        border-radius: 4px;
        display: flex;
        justify-content: inherit;
        overflow-y: auto;
    }

    .middleMenu-leaderboard{
        width: 80%;
    }
}

/* ECRAN PETIT TAILLE (TELEPHONE) (1000px) */
@media all and (max-width: 1023px){
    .middleMenu-main{
        background-color: green;
        width: 95%;
        height: 600px;
        border-radius: 4px;
        display: flex;
        justify-content: inherit;
        overflow-y: auto;
        margin-bottom: 15px;
        margin-left: 28px;
    }

    .middleMenu-leaderboard{
        width: 80%;
    }
}





.list-guild{
    text-align: left;
}

.list-guild-action{
    text-decoration: none;
}

.syndicate-color{
    color: #bf0abf;
}

.marauders-color{
    color: rgb(87, 222, 87);
}

.covenant-color{
    color: #ca8c00;
}

.first-ladder{
    font-weight: bold;
}
.second-ladder{
    font-weight: bold;
}
.third-ladder{
    font-weight: bold;
}

.list-leaderboard{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-flexbox-leaderboard-connected{
    display: flex;
    flex-direction: row;
    margin:3px;
    justify-content: space-between;
    
}

.list-flexbox-leaderboard{
    display: flex;
    flex-direction: row;
    margin:3px;
    justify-content: center;
}

.table-header{
    color: white;
    font-size: 15px;
}

.td-header{
    font-size: 15px;
}


