.leftMenu-main{
    background-color: rgb(35 34 32 / 80%);
    width: 49%;
    border-radius: 4px;
    height: 600px;
}

.guild_loose {
    color: crimson;
    font-weight: bold;
    font-size: 18px;
}

.guild_win{
    color: #04AA6D;
    font-weight: bold;
    font-size: 18px;
}

.last_wars_capsule{
    width: 100%;
    margin:1%;
}

.last_wars_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    overflow-y: auto;
}

.card-last-results {
    /* Add shadows to create the "card" effect */
    background-color: #00000054;
    transition: 0.3s;
    border-radius: 4px;
    width: 69%;
    padding: 1%;
    }
    
.card_declared_war{
position: relative;

display: block;
margin: 5px auto;
padding: 0;

overflow: hidden;

border-width: 0;
outline: none;
border-radius: 4px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);


color: #ecf0f1;

transition: background-color .3s;
}

.display-fake-btn{
    color: white !important;
    border-radius: 4px;
    padding: 4px;
}

.display-fake-btn.winner{
    background-color: #04AA6D;
}

.display-fake-btn.text{
    background-color: #c7c7c700;
}

.display-fake-btn.looser{
    background-color: crimson;
}