.label{
    color: white;
}

.form-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020202d1;
    margin: 0 auto;
    width: 30%;
    border-radius: 4px;
    padding: 2%;
}

.btn-submit{
    width: 100%;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0987b1;
    color: #ffffff;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 6%;
    transition: 1s;
}

.btn-submit:hover{
    background-color: #04465d;
    transition: 1s;
    color: white;
}
.label-name{
    width: 100%;
    text-align: left;
    margin-top: 3%;
}

.label-password{
    width: 100%;
    text-align: left;
}

.label-password-form-gvg{
    width: 80%;
    text-align: left;
}

.input-css{
    width: 100%;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 6%;
    transition: 1s;
}

.input-css-error{
    width: 100%;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 6%;
    transition:  1s;
    background-color: crimson;
}


.title-form{
    color: white;
}

.hr-form{
    width: 65%;
}

.create-account-link{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 12px;
}

.create-account-link:hover{
    color: #ffb10f;
}

.input-css.createaccount-css{
    margin: 2%;
}